.question__question{
  width:500px; 
  margin:10% auto 2% auto;
}

.results{
  width:500px; 
  margin:10% auto 2% auto;
}

.question__choices{
  width:375px; 
  margin:5% auto 2% auto;
}

.question-button{
  margin: 0 5px;
}